services:
  api:
    image: ghcr.io/steel-dev/steel-browser-api:latest
    ports:
      - "3000:3000"
      - "9223:9223"
    volumes:
      - logs:/data/logs
      - exports:/tmp/steel-browser-exports
      - ./.cache:/app/.cache
    environment:
      - DOMAIN=${DOMAIN:-localhost:3000}
      - CDP_DOMAIN=${CDP_DOMAIN:-localhost:9223}
      - LOG_STORAGE_ENABLED=true
      - LOG_STORAGE_PATH=/data/logs/browser-logs.duckdb
   labels:
        - traefik.docker.network=noc8ww04oo000ogcw8occ808
    networks:
      - steel-network

  ui:
    image: ghcr.io/steel-dev/steel-browser-ui:latest
    ports:
      - "5173:80"
    environment:
      - API_URL=${API_URL:-http://api:3000}
    labels:
        - traefik.docker.network=noc8ww04oo000ogcw8occ808
    depends_on:
      - api
    networks:
      - steel-network

networks:
  steel-network:
    name: steel-network
    driver: bridge

volumes:
  logs:
    driver: local
  exports:
    driver: local
